<!DOCTYPE html>
<html>
<head>
	<title>Welcome to margret's Blog</title>
</head>
<body>
<h1>Hi.I am Margret.Welcome to my blog.</h1>

<h2>My First Blog Post</h2>
<p>Here is my first blog post.I am a fan of Marvel Movies.To be specific,I admire Steve Rogers,the Captain America most.</p>

<!-- Like And Comment -->
<button>Like</button>
<h2>Leave a Comment</h2>
<form action="{% url 'blog:home_page' %}"method="POST">
{% csrf_token %}
 <input type="text" placeholder="Please Enter Your username" name="username"><br><br>
 <textarea name="comment" placeholder="Please Enter Your Comment"></textarea><br>
 <input type="submit" value="Post Me!">
 </form>

<h2>Comments</h2>
 User {{username}} says: {{comment}}
</body>
</html>
